body {
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    border: none;
    width: 100%;
}
.header {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}
.notice {
    text-align: center;
    font-size: 100%;
    color: orange;
    font-style: italic;
}
.hCell {
    border-collapse: collapse;
    border: 1px solid black;
    font-weight: bold;
    font-size: 12px;
}
.hCellOverride {
    border-collapse: collapse;
    border: 1px solid black;
    color: red;
    font-weight: bold;
    font-size: 12px;
}
.cCell0 {
    border: none;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.cCell1 {
    border: none;
    font-size: 12px;
}
.cCell2 {
    border-collapse: collapse;
    border: 1px solid black;
    width: 80px;
    font-size: 12px;
    text-align: center;
}
.cCell2Override {
    /*color: red;*/
    border-collapse: collapse;
    border: 2px solid red;
    width: 80px;
    font-size: 12px;
    text-align: center;
}
.circleCell {
    border: 2px solid black;
    width: 150px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
}
.tCell1 {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    font-size: 12px;
}
.tCell2 {
    border: 1px solid black;
    height: 22px;
    text-align: center;
    font-size: 12px;
}
.tCell2Override {
    /*color: red;*/
    border: 2px solid red;
    height: 22px;
    text-align: center;
    font-size: 12px;
}
.pText0 {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
}
@media print {
  .break_line {
    page-break-after: always;
  }
  .printElement {
    width: 8.5in;
    height: 11in;
  }
}
